* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#password {
    width: 400px;
    padding: 18px;
    font-size: 1.5rem;
    background-color: #ea901b;
    border: 2px black solid;
    border-radius: 10px;
    outline: none;
}
