* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}
.qr-container {
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}
h2 {
    text-align: center;
    margin-bottom: 10px;
}
#qr-input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
#qr-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: teal;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}
#qr-img {
    display: block;
    margin: 0 auto;
    width: 50%;
}